
<!DOCTYPE html>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="main.css" >
    <centre><h1 id='head1'> Search Engine </h1></centre>

<body>

<div class="container" >
  <div style="background:transparent !important" class="jumbotron" >
    <div style="font-family: 'Pacifico', cursive;">
      <p>
        <center>
        <font size="8" color=green>Search with image contexts</font>
        </center>
      </p>
    </div>
  </div>
<div class="searchbox" >
  <form align="center" action="/imgupload" method="post" enctype = "multipart/form-data">
    <style>
    #img1{
      width: 600px;
      color: blue;
height: 40px;
}
    #submit1{
      width: 80px;
height: 70px;
    }
    </style>
  Select a file: <input id="img1" type="file"  name="file">
  <br></br>
  <input type="submit" id="submit1">
</form>
    <form  align="center" action="/api" method="POST"  >
      <style type="text/css">
      #search1
      {
        width: 1000px;
height: 30px;
}
      </style>
        <input align="centre" id="search1" type="text" placeholder="Search..." name="text" class="search"maxlength="500" size="120" >

        <button  class="btn-search">
            <img src="https://img.icons8.com/cotton/24/000000/search--v2.png">
        </button>
</form>
</div>
<br><br>
  <footer class="footer">
    <p>&copy; 2019 Abhijith Neil Abraham </p>
  </footer>
</body>
</html>
